* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 600px;
}

#logo {
    float: left;
    margin-top: 25px;
}

.header-top {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 80%;
    color: white;
    background-color: #0C325A;
    background-image: url(img/background-header.png);
    background-size: contain;
    background-size: 100%, 100%;
}
 
nav {
    height: 30%; 
    line-height: 30%;
    width: 100%;
}

ul.first {
    margin-left: 30px;
    float: left;
}

ul.second {
    float: right;
}

li {
    font-size: 12px;
    line-height: 100px;
    float: left;
    list-style: none;
    margin-right: 30px;
}

input {
    color: white;
    border-radius: 10px;   
}

input.small {
   padding: 10px;
}

input.small.transparent {
   background-color: transparent;
}

input.green {
   background-color: #7CBB02;
}

input.big.green {
    margin-top: 40px;
    padding: 15px;
}

div.caption {
    float: left;
    width: 60%;
    text-align: left;
}

.caption > h1 {
    font-size: 56px;
}

.header-bot {
    padding-top: 40px;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: lightgrey;   
}

p {
    color: #7C7C7C;
}

 
.main {
    width: 100%;
    height: 350px;
}

.main-top {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    width: 80%;
    
}

.main-top::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    width: 30%;
    height: 500px;
    float: left;
    text-align: center;
}

.column > img {
    height: 150;
    width: fit-content;
}

.column > h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7CBB02;
    font-size: 22px;
}

.column > hr {
    width: 15%;
    margin: auto;
}

hr {
    color: #7C7C7C;
}

.column > p {
    margin-top: 20px;
}

#center {
    margin-left: 5%;
    margin-right: 5%;
}

.main-bot {
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.main-bot > img {
    width: 50%;
}

.main-bot > div {
    padding-left: 80px;
    display: inline;
    float: right;
    width: 50%;
}