* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
   width: 100vw;
   height: 100vh;
}

header {
   width: 100vw;
   height: 55%;
}

#logo {
   float: left;
   margin-top: 25px;
}

.header-top {
   padding-left: 5%;
   padding-right: 5%;
   width: 100%;
   height: 80%;
   color: white;
   background-color: #0C325A;
   background-image: url(img/background-header.png);
   background-size: cover;
}

nav {
   height: 30%; 
   line-height: 30%;
   width: 100%;
}

ul.first {
   margin-left: 30px;
   float: left;
}

input.transparent {
   padding: 25px;
   border: none;
   background-color: transparent;
}

ul.second {
   float: right;
}

li {
   font-size: 12px;
   line-height: 100px;
   float: left;
   list-style: none;
   margin-right: 30px;
}

header  input {
   color: white;
   border-radius: 5px;  
}

input.small {
  padding: 10px;
}

input.small#transparent {
  background-color: transparent;
  border-color: white;
}

input.green {
  background-color: #7CBB02;
  border: none;
}

input.big.green {
   margin-top: 40px;
   padding: 15px;
}

div.caption {
   float: left;
   width: 60%;
   text-align: left;
}

.caption > h1 {
   font-size: 56px;
}

.header-bot {
   padding-top: 25px;
   width: 100%;
   height: 20%;
   text-align: center;
   background-color: lightgrey;   
}

.header-bot > h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.header-bot > p {
   font-size: 18px;
}

p {
   color: #7C7C7C;

}

.main {
   width: 100%;
}

.main-top {
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 30px;
   width: 80%;
}

.main-top h3 {
    font-size: 22px;
    line-height: 30px;
}

.main-top p {
    font-size: 18px;
}

.main-top::after {
   content: "";
   display: table;
   clear: both;
}

.column {
   width: 30%;
   height: 500px;
   float: left;
   text-align: center;
}

.column > img {
   height: 150;
   width: fit-content;
}

.column > h3 {
   margin-top: 20px;
   margin-bottom: 20px;
   color: #7CBB02;
   font-size: 22px;
}

.column > hr {
   width: 20%;
   margin: auto;
}

.column > p {
   margin-top: 20px;
}

#center {
   margin-left: 5%;
   margin-right: 5%;
}

hr {
    width: 100%;
}

.main-bot {
   margin-top: 40px;
   margin-left: 15%;
   margin-right: 15%;
   width: 70%;
}

.main-bot > img {
   width: 40%;
}

.main-bot > div {
   padding-left: 50px;
   padding-right: 100px;
   display: inline;
   float: right;
   width: 50%;
}


footer {
    margin-top: 30px;
    padding-left: 5%;
    width: 100%;
    height: 130px;
    line-height: 130px;
    background-color: lightgrey;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

footer h5 {
    font-size: 22px;
    color: black;
    display: inline;
    float: left;
}

footer span {
    color: #7C7C7C;
    padding-right: 20px;
}

select {
    margin-left: 20px;
    margin-right: 20px;
    color: #7C7C7C;
    background-color: transparent;
    border: none;
}

footer div {
   display: inline;
   float: right;
   padding-right: 60px;
}

footer div input  {
   color: white;
   background-color: #7CBB02;
   padding: 10px;
   border-radius: 5px;
   border: none;
}

#left {
   font-size: 24px;
}

label {
   color: #7C7C7C;
   text-decoration: underline;
}

.fixed {
   position: fixed;
   bottom: 60px;
   left: 90%;
   width: 100%;
   height: 30px;
   background-color: transparent
}